@charset "UTF-8";
:root {
  --main-font:"Roboto", sans-serif;
  --first-color:#212121;
  --second-color:#757575;
  --accent:#2196F3;
  --time:250ms;
  --cubic:cubic-bezier(0.4, 0, 0.2, 1)
    ;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--second-color);
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.size {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .size {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.size-work {
  padding-top: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent);
}

.left-footer .logo {
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .logo_marginr {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo_marginr {
    margin-right: 95px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo__web {
    font-size: 26px;
    line-height: 1.19;
  }
  .left-footer .logo {
    padding-right: auto;
  }
}

.feedback {
  display: none;
}

.feedback__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color var(--time) var(--cubic);
}

.feedback__link:hover, .feedback__link:focus {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .feedback__link_position {
    display: flex;
  }
  .feedback__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-color);
    transition: color var(--time) var(--cubic);
  }
  .feedback__link:hover, .feedback__link:focus {
    color: var(--accent);
  }
  .feedback {
    display: block;
    margin-left: 84px;
  }
  .icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--time) var(--cubic);
  }
  .icon:hover, .icon:focus {
    fill: var(--accent);
  }
  .contacts .feedback {
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time) var(--cubic);
  }
  .contacts .feedback:hover, .contacts .feedback:focus {
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .feedback-icon:first-child {
    margin-right: 30px;
  }
  .feedback {
    display: flex;
    margin-left: auto;
  }
}

.btn-modal {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: #188CE8;
  padding: 10px 32px;
  transition: color var(--time) var(--cubic);
  border: 0px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent);
  transition: background-color var(--time) var(--cubic);
}

.btn-modal:hover, .btn-modal:focus {
  background-color: #188CE8;
}

.modal-form-checkbox-label + .btn-modal {
  margin-top: 34px;
  margin-bottom: 40px;
  display: inline-block;
}

.change-img {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .change-img {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .enumeration {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .enumeration {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 40px 40px;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0;
  transition: fill var(--time) var(--cubic);
}

.close-btn:focus, .close-btn:hover {
  fill: var(--accent);
}

@media screen and (max-width: 1199px) {
  .modal {
    height: 100vh;
    max-height: 609px;
    width: 100vw;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
}

.modal-form-head {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color var(--time) var(--cubic);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--cubic);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent);
}

.coments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--time) var(--cubic);
}

.coments:focus {
  outline: none;
  border-color: var(--accent);
}

.modal-form-checkbox-label {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 10px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent);
  background-image: url("../images/icon/check.svg");
  /*дшцорфыцуграждлгшшфгцуфцугрта */
  background-origin: border-box;
  border-color: var(--accent);
  background-size: contain;
  box-shadow: none;
}

.modal-form-checkbox-label::before {
  display: block;
  box-sizing: border-box;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-right: 8px;
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic), border-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.modal-form-label-link {
  text-decoration-line: underline;
  color: var(--accent);
}

@media screen and (min-width: 1200px) {
  .modal-form {
    max-width: 448px;
  }
  .modal-form-head {
    line-height: 1.17;
  }
  .modal-form-checkbox-label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
  }
}

.head-section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

@media screen and (max-width: 1199px) {
  .head-section {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.team-img {
  width: 100%;
  height: auto;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 16px;
}

@media screen and (max-width: 1199px) {
  .social-list {
    padding-bottom: 23px;
  }
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-links {
  display: flex;
  border-radius: 50%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  transition: background-color var(--time) var(--cubic), fill var(--time) var(--cubic);
}

.social-links:focus, .social-links:hover {
  fill: #FFFFFF;
  background-color: var(--accent);
}

.social-links:not(:first-child) {
  margin-left: 10px;
}

.list-links-join .social-links {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition: background-color var(--time) var(--cubic);
}

.list-links-join .social-links:focus,
.list-links-join .social-links:hover {
  background-color: var(--accent);
}

.social-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-menu-container {
    padding-left: 30px;
  }
  .mobile-menu-containerclose-button {
    top: 15px;
    right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .burger-menu {
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .icon-burger {
    width: 40px;
    height: 40px;
    padding: 10px 8px;
  }
  .icon-burger:hover, .icon-burger:focus {
    fill: var(--accent-color);
    transition: fill var(--duration) var(--speed);
  }
  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
  }
  .mobile-menu-container__close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0;
    transition: fill var(--time) var(--cubic);
  }
  .mobile-menu-container__close-button:focus, .mobile-menu-container__close-button:hover {
    fill: var(--accent);
  }
  .mobile-nav {
    margin-bottom: 306px;
  }
  .mobile-close-button__icon {
    height: 19px;
    width: 19px;
  }
  .mobile-nav__item {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__item:last-child {
    margin-bottom: 200px;
  }
  .mobile-nav__link {
    color: #212121;
  }
  .mobile-nav__link:hover {
    color: var(--accent);
    transition: color var(--cubic-bezier) var(--time);
  }
  .mobile-contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .mobile-contacts:last-child {
    margin-bottom: 32px;
  }
  .mobile-contacts__item {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-contacts__item--bigger {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #757575;
    letter-spacing: 0.02em;
  }
  :hover,
  --bigger:hover {
    color: var(--accent);
  }
  .mobile-social-networks {
    display: flex;
    padding-bottom: 48px;
  }
  .mobile-social-networks__item {
    padding-right: 10px;
  }
  .mobile-social-networks__item:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social-networks__item .mobile-social-networks__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    letter-spacing: 0.02em;
    color: var(--accent);
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: block;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ECECEC;
  }
  /*div.nav*/
  .navigation {
    display: flex;
    align-items: center;
  }
  /*logo*/
  .menu {
    display: flex;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .menu__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    transition: color var(--time) var(--cubic);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent);
  }
  .menu__reference {
    position: relative;
  }
  .menu__reference:not(:last-child) {
    margin-right: 50px;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
    transform: translateY(31px);
    transition: color var(--time) var(--cubic);
  }
  .menu .menu__link.current {
    color: var(--accent);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
  }
  .menu__reference {
    position: relative;
  }
  .menu__reference:not(:last-child) {
    margin-right: 50px;
  }
  .menu .menu__link.current {
    color: var(--accent);
  }
  .tel {
    margin-left: 0px;
  }
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  max-width: 480px;
  height: auto;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}

.main-head {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .main-head {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .enumeration:not(:last-child) {
    margin-bottom: 30px;
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.list-adv {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
}

/*desc-adv*/
.desc-adv {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .change {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .block {
    width: 354px;
  }
  .enumeration {
    margin-bottom: 30px;
  }
  .enumeration:nth-child(n + 3) {
    margin-bottom: 0px;
  }
  .list-adv {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .block {
    width: 270px;
  }
  .enumeration {
    z-index: 100;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .size-work {
    display: none;
  }
}

.works {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.kind-work {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0px;
  background: rgba(47, 48, 58, 0.8);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

.team-info {
  padding-top: 30px;
}

/*names-teams*/
.names-teams {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

/*position*/
.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.list-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-links-company {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.list-company {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-bottom: 30px;
}

.list-company:nth-child(n + 5) {
  margin-bottom: 0;
}

.company-icon {
  width: 106px;
  height: 60px;
  padding: 32px, 16px;
}

.link-company {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px;
  border-style: solid;
  border-color: #AFB1B8;
  fill: #AFB1B8;
  transition: fill var(--time) var(--cubic), border-color var(--time) var(--cubic);
}

.link-company:focus, .link-company:hover {
  fill: var(--accent);
  border-color: var(--accent);
}

@media screen and (min-width: 768px) {
  .link-company {
    width: 226px;
  }
  .list-company {
    flex-basis: calc((100% - 90px) / 3);
  }
  .list-company:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-links-company {
    flex-wrap: nowrap;
  }
  .link-company {
    width: 170px;
  }
  .list-company {
    margin-bottom: 0;
  }
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contacts:not(:first-child) {
  margin-top: 10px;
}

.size-mobile {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*location*/
.location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: color var(--time) var(--cubic);
}

.location:hover .location:focus {
  color: var(--accent);
}

.basement .feedback__link:hover,
.basement .feedback__link:focus {
  color: #FFFFFF;
}

.join {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.general-footer {
  padding: 0 auto;
}

.left-footer {
  text-align: center;
}

.right-footer {
  text-align: center;
}

.list-links-join {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .general-footer {
    display: flex;
    flex-wrap: wrap;
  }
  .left-footer {
    display: inline-block;
    padding-left: 76px;
    padding-right: 165px;
    text-align: left;
  }
  .right-footer {
    display: inline-block;
  }
  .size-mobile {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .size-mobile {
    padding: 0;
  }
  .left-footer {
    text-align: left;
  }
  .contacts {
    display: flex;
    margin-right: auto;
  }
  .join {
    text-align: left;
  }
  .general-footer {
    display: flex;
    align-items: baseline;
  }
  .right-footer {
    text-align: none;
    margin-left: 70px;
  }
  .list-links-join {
    display: flex;
    margin-top: 20px;
  }
}

.footer-input + .btn-modal {
  border: none;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-right: 29px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.footer-input {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-input:focus {
  outline: none;
}

.footer-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-form-footer {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 93px;
  }
  .footer-form {
    display: inline-flex;
  }
  .footer-input + .btn-modal {
    display: inline-flex;
    margin-left: 13px;
  }
  .footer-input {
    width: 358px;
  }
  .icon-form-footer {
    margin-left: 10px;
  }
}

.btn-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .btn-portfolio-list {
    display: flex;
  }
  .btn-portfolio-list:not(:last-child) {
    margin-right: 8px;
  }
  .btn-portfolio-list:nth-child(2n + 3) {
    margin-right: 0px;
  }
  .btn-portfolio-list:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

/*filter-btn*/
.filter-btn {
  flex-wrap: wrap;
  padding-top: 4px;
  padding-right: 22px;
  padding-bottom: 4px;
  padding-left: 22px;
  border-radius: 4px;
  background: #F5F4FA;
  border-color: #F5F4FA;
  border-style: solid;
  font-family: var(--main-font);
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic), border-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.filter-btn:hover, .filter-btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-portfolio {
  width: 100%;
  height: auto;
}

.example {
  margin-right: auto;
  margin-left: auto;
}

.list-works {
  transition: background-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.list-works:hover, .list-works:focus {
  background: #FFFFFF;
  border: 0px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
  padding: 20px  24px;
}

.list-works > .bord {
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #EEEEEE;
}

/*project-names*/
.project-names {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

/*kind-project*/
.kind-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.link-example {
  display: block;
}

.layer {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 77px;
  padding-right: 24px;
  padding-bottom: 77px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--time) var(--cubic);
}

.link-example:hover .overlay,
.link-example:focus .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  .list-works {
    flex-basis: calc((100% - 64px) / 2);
    margin-left: 30px;
  }
  .btn-portfolio-list:not(:last-child) {
    margin-right: 8px;
  }
  .btn-portfolio {
    justify-content: center;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-portfolio {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  .btn-portfolio-list {
    display: flex;
  }
  .btn-portfolio-list:not(:last-child) {
    margin-right: 8px;
  }
  .example {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .list-works {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 96px) / 3);
  }
  .info {
    padding: 20px  24px;
  }
  .link-example {
    display: block;
  }
  .layer {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */