:root {
--main-font:"Roboto", sans-serif;
--first-color:#212121;
--second-color:#757575;
--accent:#2196F3;
}

body {
    font-family: var( --main-font);
    color: var(--second-color);
}
h1,h2,h3,h4,h5,h6,p{
 margin-top: 0;
 margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
.link{
    text-decoration: none;
}
.list{ list-style: none;}

.header{
    
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
    
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border: 1px;
    border-color: #ECECEC;
}

/*div.nav*/
.navigation{
    display: flex;
    align-items: center;
   }

/*logo*/
.logo{
    margin-right: 95px;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent);
}
.menu{
    display: flex;
}
.header-container{
    display: flex;
    align-items: center;
}
.menu-list {  
   
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-color);
}

.reference:not(:last-child) {
    margin-right: 50px;
}

.menu-list:hover,
.menu-list:focus{
    color: var(--accent);
}
.menu .menu-list.current{
    color: var(--accent);
}
.feedback{
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color)
}
.feedback:hover,
.feedback:focus{
    color: var(--accent);
}
.tel{
    margin-left: 50px;
}
/*=============================HERO============================*/
.hero{
    background-color: #2F303A;
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}
.main-head{
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.btn-hero{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-color: #188CE8;
    padding: 10px 32px;
   
    font-weight: 700;
    font-size: 16px;
    line-height:1.86;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent);
}
.btn-hero:hover,
.btn-hero:focus{
    background-color: #188CE8;
}

.change{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
   }
.enumeration{
    flex-basis: calc((100% - 120px) / 4) ;
    margin-left: 30px;
}
.list-adv{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);
     
}
/*desc-adv*/
.desc-adv{
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);

}
.size-work{
    padding-bottom: 94px;
}
.change-img{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    /*padding-bottom: 94px;*/
}
/*head-section*/
.head-section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);

}
.works{
    flex-basis: calc((100% - 90px) / 3) ;
    margin-left: 30px;
}
.size{
    padding-bottom: 94px;
    padding-top: 94px;

}
/*team*/
.team{
    background-color: #F5F4FA;
    /*padding-bottom: 94px;*/
}
.team-info{
    padding-top: 30px;
    padding-bottom: 30px;
   
}
 /*names-teams*/
 .names-teams{     
    margin-bottom: 10px; 
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
/*position*/
.team .position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);
}
.list-team{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
/*footer*/
.basement{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
}
.contacts{
    display: flex;
    margin-right: auto;
    }
.contacts:not(:first-child){
    margin-top: 10px;
}

/*feedback-footer*/
.feedback-footer{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.feedback-footer:hover,
.feedback-footer:focus{
    color: #FFFFFF;
    
}
/*location*/
.location{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}    
/*location*/
.location:hover
.location:focus{ 
   color: var(--accent);
}
.logo-footer{
    padding-right: auto;
   margin-bottom: 20px;
    display: inline-block;
   
    color: #FFFFFF;
    
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*-----------------------------------------------PORTFOLIO---------------------------------------*/
.btn-portfolio{
    display: flex;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;  
    align-items: center;
   
    margin-bottom: 50px;
    }

.btn-portfolio-list{
    display: flex;
   }
.btn-portfolio-list:not(:last-child){
    margin-right: 8px;
}
/*filter-btn*/
.filter-btn{
    flex-wrap: wrap;
    padding-top: 4px;
    padding-right: 22px;
    padding-bottom: 4px;
    padding-left: 22px;
    border-radius: 4px;
    background: #F5F4FA;
    border-color: #F5F4FA;
    border-style: solid;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
.filter-btn:hover,
.filter-btn:focus{
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*кнопка все*/
.all-btn{
    background-color: #2196F3;
    color: #FFFFFF;
}
.example{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    
    }
.list-works{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 96px) / 3) 
    
    
}

.info{
    padding: 20px  24px;
}
.list-works > .bord{
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
}


/*project-names*/
.project-names{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-color   )
}
/*kind-project*/
.kind-project{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color);
}