.btn-modal{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-color: #188CE8;
    padding: 10px 32px;
    transition: color var(--time) var(--cubic);
    border:0px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height:1.86;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent);
    transition: background-color var(--time) var(--cubic);
    
    &:hover,
    &:focus{
    background-color: #188CE8;}
}

.modal-form-checkbox-label + .btn-modal{
    margin-top: 34px;
    margin-bottom: 40px;
    
    display: inline-block;

}