.list-links-company{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}


.list-company{
      flex-basis: calc((100% - 60px) / 2) ;
      margin-left: 30px;
       margin-bottom: 30px;
         
    }   
.list-company:nth-child( n + 5 ){
    margin-bottom: 0;
}

.company-icon{
    width: 106px;
    height: 60px;
    padding: 32px, 16px;
}

.link-company{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color: #AFB1B8;
    fill: #AFB1B8;
    transition: fill var(--time) var(--cubic), border-color var(--time) var(--cubic); 

    &:focus,
    &:hover{
    fill:var(--accent) ;
    border-color: var(--accent);}
}
//  .list-company:not(:first-child){
//      margin-left: 30px;
//  }


// ///////////////////////////////////for tablet
 @media screen and (min-width:768px){
    .link-company{
        width: 226px;
    }

    .list-company{
        flex-basis: calc((100% - 90px) / 3) ;}
    
        .list-company:nth-child( n + 4 ){
            margin-bottom: 0;
        }
}

// //////////////////////////////////for desktop
@media screen and (min-width:1200px){
    .list-links-company{
        flex-wrap: nowrap;
    }
    .link-company{
        width:170px;
    }
    .list-company{
        margin-bottom: 0;
    }
}


