
.feedback{
    display: none;
}

.feedback__link{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-color);
    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus{
    color: var(--accent);}
}
@media screen and (min-width:768px){

    

.feedback__link_position{
    display: flex;
    
}
.feedback__link{
    
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-color);
    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus{
    color: var(--accent)};

    
}

.feedback{
    display: block;
    margin-left: 84px;
}
.icon{
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--time) var(--cubic);

    &:hover,
    &:focus{
    fill: var(--accent);}
}
.contacts .feedback{
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus{
        color: #FFFFFF;}
}
}
@media screen and (min-width: 768px) and (max-width:1199px){
    .feedback-icon:first-child{
        margin-bottom: 10px;
    }

    
}

@media screen and (min-width:1200px){
   
.feedback__link{
   
    font-size: 14px;
    line-height: 1.14;
}
.feedback-icon:first-child{
    margin-right: 30px;
    
}
  

.feedback{
    display: flex;
    margin-left: auto;
}
}