.head-section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);

}
@media screen and (max-width:1199px){
        .head-section{
            margin-bottom: 30px;
       font-size: 28px;
    line-height: 1.18;
    }
}